* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Montserrat, sans-serif;
    min-height: 100vh;
    font-size: 16px;
    color: #fff;
}
a {
    text-decoration: none;
}
.pageHead {
    height: 70px;
    background: linear-gradient(-45deg, #00537E, #3aa193);
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
    padding: 0 20px;
    color: #fff;
}
.pageNav {
    display: flex;
    align-items: center;
    z-index: 3;
}
.pageNav > a {
    padding: 7px 14px;
    display: flex;
    height: 70px;
    align-items: center;
    transition: .4s;
    color: #fff;
}
.pageNav > a:hover {
    background: rgba(188, 230, 255, 0.3);
}
.switcher {
    position: absolute;
    visibility: hidden;
    left: -9999;
}
.open, .close {
    cursor: pointer;
    font-size: 2em;
    display: none;
}
.carousel {
    position: relative;
    height: 500px;
    overflow: hidden;
    color: #fff;
}
.carouselItem {
    position: absolute;
    top: 0;
    height: 500px;
    width: 100%;
    opacity: 0;
    transition: 2s;
}
.carouselItem > img {
    width: inherit;
    height: inherit;
    object-fit: cover;
}
.carouselItem.active {
    opacity: 1;
}
.carouselItem > .text {
    position: absolute;
    bottom: 25px;
    z-index: 2;
    padding: 40px;
}
.carouselItem h2 {
    font-size: 3.5em;
    padding: 20px 0;
}
.carouselItem p {
    font-size: 1.3em;
}
.features {
    padding: 35px 20px;
}
.featuresList {
    display: flex;
    justify-content: space-around;
}
.sectionHead {
    padding-bottom: 20px;
}
.sectionHead > h2 {
    color: #333;
    text-align: center;
    font-size: 2em;
}
.feature {
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 300px;
    text-align: center;
}
.feature > svg {
    font-size: 7em;
    color: #3aa193;
}
.feature > h3 {
    font-size: 1.5em;
}
.feature > svg,p,h3 {
    padding-bottom: 15px;
}
