@media (max-width: 800px) {
    .open, .close {
        display: flex;
        align-items: center;
    }
    .close {
        position: absolute;
        top: 40px;
        right: 40px;
    }
    .switcher:checked ~ nav {
        right: 0;
    }
    .pageNav {
        position: fixed;
        width: 100%;
        height: 100vh;
        padding-top: 90px;
        right: -100%;
        top: 0;
        transition: .7s;
        flex-direction: column;
        background: linear-gradient(-45deg, #00537E, #3aa193);
    }
    .pageNav > a {
        width: 100%;
        height: 50px;
        justify-content: center;
    }
    .carousel, .carouselItem {
        height: 380px;
    }
    .carouselItem > .text {
        bottom: 15px;
        padding: 15px;
    }
    .carouselItem h2 {
        font-size: 2.5em;
        padding: 10px 0;
    }
    .carouselItem p {
        font-size: 1em;
    }
    .featuresList, .productsList {
        flex-direction: column;
    }
    .productsList {
        align-items: center;
    }
    .product {
        width: 90%;
        margin: 20px 0;
    }
}
